@use "global" as *;

.blog-card {
    background-color: $white;
    box-shadow: rem(4) rem(6) rem(4) rem(0) rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-row: span 4;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    gap: rem(8);
    padding: rem(20);
    padding-bottom: rem(30);
    width: 100%;

}

@media (any-hover: hover) {
    .blog-card:hover {
        transform: scale(1.03);
        box-shadow: rem(4) rem(8) rem(16) rem(0) rgba(0, 0, 0, 0.1);
    }
}


.blog-card__img {
    overflow: hidden;
    aspect-ratio: 345 / 227;
}

.blog-card__img img{
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
    display: block;
}

.blog-card__body {
    padding: rem(20);
}

.blog-card__meta {
    display: flex;
    gap: rem(16);
    align-items: center;
}

.blog-card__date {
    font-size: rem(14);
    font-weight: $medium;
    font-family: $base-font-family;
    color: $gray2;
}

.blog-card__title {
    font-size: rem(24);
    font-weight: $bold;
    font-family: $base-font-family;
    color: $blue-black;
    border-bottom: rem(2) solid $gold;
    padding-bottom: rem(4);

}

.blog-card__text {
    font-size: rem(18);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $blue-black;
    line-height: rem(36);
    overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;

}