@use "global" as *;

.button {
    font-size: rem(18);
    font-weight: $bold;
    font-family: $base-font-family;
    color: $brown;
    line-height: calc(18 / 15);
    background: $white;
    border: 1px solid $gold;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    max-width: rem(250);
    padding-right: rem(16);
    padding-left: rem(40);
    padding-block: rem(16);
    transition: 0.3s ease-in-out;
    box-shadow: rem(4) rem(6) rem(4) rem(0) rgba(0, 0, 0, 0.05);
    margin-inline: auto;
}

.button--offset {
    color: $white;
    background: $gold;
    margin-top: rem(45);
    @include mq(md){
      margin-top: rem(8);
    }
  }

.button--left {
    @include mq(md) {
        margin-inline: initial;
    }
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 16%;
    transition: 0.2s ease-in-out;
    background-image: url(../images/common/arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(14);
    width: rem(12);
    transform: translateY(-50%);
}

.button--offset::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 16%;
    transition: 0.2s ease-in-out;
    color: $white;
    background-image: url(../images/common/arrow_white.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(14);
    width: rem(12);
    transform: translateY(-50%);
  }

@media (any-hover: hover) {
    .button:hover {
        background: $gold;
        color: $white;
    }

    .button--offset:hover {
        background: $white;
        color: $brown;

    }

    .button:hover::before {
        background-image: url(../images/common/arrow_white.png);
    }

    .button--offset:hover::before{
        background-image: url(../images/common/arrow.png);
        filter: none;


    }
}