@use "global" as *;

.category__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(18) rem(21);

    @include mq(md) {
        display: flex;
        grid-template-columns: none;
        gap: rem(32);
    }
}

.category__item {
    text-align: center;
    display: inline-block;

    @include mq(md) {
        width: min(rem(162), 100%);
    }
}

.category__item-text {
    border: 1px solid $brown;
    padding-inline: rem(5);
    padding-top: rem(6);
    padding-bottom: rem(4);
    font-size: rem(16);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $brown;
    line-height: calc(22 / 16);
    letter-spacing: 0;
    background-color: $white;
    transition: color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}

.category__item:first-child .category__item-text {
    background-color: $gold;
    color: $white;
}

@media (any-hover: hover) {
    .category__item-text:hover {
        cursor: pointer;
        background-color: $gold;
        color: $white;
    }
}