@use "global" as *;

.footer {
    background-color: $beige;
    position: relative;
}

.footer::after {
    position: absolute;
    content: "";
    display: block;
    background-image: url(../images/common/tree.png);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: rem(-88);
    left: calc(50% - min(48vw, rem(640)));
    width: rem(98);
    height: rem(103);

    @include mq(md) {
        width: rem(200);
        height: rem(200);
        top: -43%;
    }
}

.footer__container {
    padding-top: rem(48);
    text-align: center;
    @include mq(md){
       padding-top: rem(80);
    }
}

.footer__logo {
    text-align: center;
}

.footer__logo-img {
    height: inherit;
    width: rem(160);
    display: inline-block;

    @include mq(md) {
        width: rem(240);
    }
}

.footer__nav {
    margin-top: rem(16);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.footer__items {
    @include mq(md){
        display: flex;
        justify-content: center;
        gap: rem(32);
    }
}

.footer__item {
    font-size: rem(18);
    font-weight: $medium;
    font-family: $second-font-family;
    color: $blue-black;
    line-height: calc(27 / 18);
}

.footer__link {
    display: block;
    width: 100%;
    padding-top: rem(16);
    padding-bottom: rem(16);
    text-align: center;
    color: $blue-black;
    font-size: rem(20);
    font-weight: $medium;
    font-family: $second-font-family;
    line-height: calc(28 / 20);
    opacity: 1;
    transition: 0.3s ease-out;
}

@media (any-hover: hover) {
    .footer__link:hover {
        opacity: 0.6;
    }
}

.footer__copyright {
    border-top: 1px solid $gold;
    padding-block: rem(40) rem(40);
    margin-top: rem(40);
}

.footer__copyright small {
    font-size: rem(14);
    font-weight: $regular;
    font-family: $third-font-family;
    color: $blue-black;
    line-height: calc(21 / 14);

    @include mq(md) {
        font-size: rem(16);
    }
}