@use "global" as *;

.gallery {
    margin-top: rem(24);
}

.gallery__title {
    font-size: rem(24);
    font-weight: $bold;
    font-family: $second-font-family;
    color: $blue-black;
    line-height: calc(24 / 24);
    border-bottom: rem(1) solid $gold;
    padding-bottom: rem(10);
}

.gallery__grid {
    margin-top: rem(24);
    display: grid;
    gap: rem(20);

    @include mq(md) {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: rem(250);
        grid-auto-flow: dense;
    }
}

.gallery__item {
    position: relative;
    width: 100%;
    aspect-ratio: 4 / 3;

    @include mq(md) {
        aspect-ratio: unset;
    }
}

.gallery__item img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mq(md) {
        position: relative;
    }
}


.gallery__item1 {
    @include mq(md) {
        grid-area: 1 / 1 / 2 / 3;
    }

}

.gallery__item2 {
    @include mq(md) {
        grid-area: 2 / 1 / 3 / 2;
    }

}

.gallery__item3 {
    @include mq(md) {
        grid-area: 2 / 2 / 3 / 3;
    }
}

.gallery__item4 {
    @include mq(md) {
        grid-area: 1 / 3 / 3 / 4;
    }
}