@use "global" as *;

.hamburger {
  position: relative;
  width: rem(34);
  height: rem(33);
  z-index: 9999;
}

.hamburger.is-active {
  position: absolute;
  right: rem(17);
}

.hamburger span {
  position: absolute;
  width: rem(34);
  top: 0;
  right: 0;
  left: 0;
  height: rem(3);
  background-color: $gold;
  transition: 0.3s;
  border-radius: rem(3);
}

.hamburger span:nth-child(1) {
  top: 15%;
}

.hamburger span:nth-child(2) {
  top: 50%;
}

.hamburger span:nth-child(3) {
  top: 85%;
}

.hamburger.is-active span:nth-child(1) {
  top: 50%;
  transform: rotate(38deg);
  width: rem(40);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 50%;
  transform: rotate(-38deg);
  width: rem(40);
}