@use "global" as *;

.page-news {
    background-color: $gray;
}

.inner.page-news__inner {
    width: 100%;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    margin-right: auto;
    margin-left: auto;
    max-width: rem(600);
    @include mq(md){
        max-width: rem(750);
        padding-right: $padding-pc;
        padding-left: $padding-pc;
    }
}

.page-news__items {
    margin-top: rem(40);
    margin-inline: auto;
    display: flex;
    gap: rem(32);
    flex-direction: column;

    @include mq(md) {
        gap: rem(40);
    }
}

.page-news__pagenavi {
    margin-top: rem(40);

    @include mq(md) {
        margin-top: rem(80);
    }
}