@use "global" as *;

.page-breadcrumb {
    background-color: $gray;
}

.page-breadcrumb__inner {
    display: flex;
    flex-wrap: wrap;
    gap: rem(8);
}

.page-breadcrumb__text {
    display: flex;
    align-items: center;
}

.page-breadcrumb__text:not(:last-of-type)::after {
    display: inline-block;
    transform: rotate(45deg);
    width: rem(7);
    height: rem(7);
    margin-left: rem(6);
    margin-right: rem(8);
    border-top: rem(1) solid $blue-black;
    border-right: rem(1) solid $blue-black;
    content: '';
}

.page-breadcrumb__text {
    font-size: rem(16);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $blue-black;
    line-height: calc(20 / 16);
    letter-spacing: 0;
}

.page-breadcrumb__text--color,
.breadcrumb__link--color {
    color: $white;
}

.breadcrumb__link {
    transition: .3s ease;
}

@media (any-hover: hover) {
    .breadcrumb__link:hover {
        opacity: 0.6;
    }
}

.page-breadcrumb__text--color:not(:last-of-type)::after {
    border-top: rem(1) solid $white;
    border-right: rem(1) solid $white;
    content: '';
}

.page-breadcrumb--color {
    background-color: $white;
}