@use "global" as *;

.page-404 {
    margin-top: rem(40);
    margin-bottom: rem(40);

    @include mq(md) {
        margin-top: rem(80);
        margin-bottom: rem(80);
    }
}

.page-404__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-404__image {
    max-width: rem(733);
    margin-inline: auto;
}

.page-404__image img {
    aspect-ratio: 375 / 218;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-404__text-box {
    margin-top: rem(24);

    @include mq(md) {
        margin-top: rem(32);
    }
}

.page-404__text {
    font-size: rem(18);
    font-weight: $medium;
    font-family: $base-font-family;
    color: $blue-black;
    line-height: calc(32 / 18);
    text-align: center;
}

.page-404__btn {
    margin-top: rem(40);
    @include mq(md){
       margin-top: rem(60);
    }
}