@use "global" as *;

.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header::before,
.section-header::after {
    border-top: 2px solid $brown;
    content: "";
    width: rem(30);
    margin-inline: rem(20);
    @include mq(md) {
        width: rem(50);
    }
}
.section-header__title {
    font-size: rem(32);
    font-weight: $bold;
    font-family: $second-font-family;
    color: $blue-black;
    line-height: calc(38 / 32);
    letter-spacing: 0.05em;
    @include mq(md) {
        font-size: rem(40);
    }
}
.section-header__title--small {
    font-size: clamp(rem(24), 2vw + rem(20), rem(32));
    @include mq(md) {
        font-size: rem(40);

    }
}
