@use "global" as *;

.single-news {
    background-color: $gray;
}

.single-news__inner {
    @include mq(md) {
        max-width: rem(900);
    }
}

.single-news__title {
    font-size: rem(24);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $blue-black;
    line-height: calc(36 /24);
    margin-top: rem(8);
    padding-bottom: rem(4);
    border-bottom: rem(1) solid $gold;
    width: 100%;

    @include mq(md) {
        font-size: rem(32);
        line-height: calc(46 / 32);
        padding-bottom: rem(0);
    }
}

.single-news__image {
    margin-top: rem(24);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.single-news__image img,
.single-news__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-news__container {
    margin-top: rem(24);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.single-news__container h2 {
    padding: 0.4em 0.5em;
    color: #494949;
    background: #f4f4f4;
    border-left: solid 5px #7db4e6;
    border-bottom: solid 3px #d7d7d7;
}

.single-news__container h3 {
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

.single-news__container h4 {
    color: #6594e0;
    border-bottom: dashed 2px #6594e0;
}

.single-news__container p {
    color: $blue-black;
    font-size: rem(18);
    font-weight: $regular;
    font-family: $base-font-family;
    line-height: calc(26 / 16);
}

.single-news__container> :not(:first-child) {
    margin-top: rem(24);

    @include mq(md) {
        margin-top: rem(40);
    }
}


.single-news__container li {
    font-size: rem(18);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $blue-black;
    line-height: calc(24 / 18);
    display: flex;
    align-items: flex-start;
    gap: rem(9);
    justify-content: start;
    margin-top: rem(27);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.single-news__container li:not(:first-child) {
    margin-top: rem(4);
}


.single-news__pagenavi {
    margin-top: rem(40);

    @include mq(md) {
        margin-top: rem(80);
    }
}