@use "global" as *;

.top-school {
    background-color: $beige;
}

.top-school-info {
    margin-top: rem(24);
    display: flex;
    flex-direction: column;
    gap: rem(24);

    @include mq(md) {
        margin-top: rem(40);
        align-items: center;
        gap: rem(100);
        flex-direction: initial;
    }
}

.top-school-info__image {
    width: 80%;
    margin-inline: auto;
}

.top-school-info__image img{
    aspect-ratio: 293 / 253;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mq(md) {
        width: 100%;
    }
}

.top-school-info__time {
    text-align: center;
    font-size: rem(24);
    font-weight: $bold;
    font-family: $base-font-family;
    color: $blue-black;
    line-height: calc(36 / 24);

    @include mq(md) {
        text-align: left;
    }
}

.top-school-info__time span {
    color: $red;
}

.top-school-info__description {
    margin-top: rem(8);
    font-size: rem(18);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $blue-black;
    line-height: calc(32 / 18);

    @include mq(md) {
        margin-top: rem(24);
        width: 90%;
    }
}

.top-school__btn {
    margin-top: rem(40);
}