@use "global" as *;

.top-news {
    background-color: $gray;
    background-image: url(../images/common/news_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include mq(md) {
        position: relative;
    }
}

.top-news::after {
    @include mq(md) {
        position: absolute;
        content: "";
        display: block;
        background-image: url(../images/common/church.png);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: rem(30);
        right: calc(50% - min(48vw, rem(640)));
        width: rem(198);
        height: rem(204);
    }
}

.inner.top-news__inner {
    width: 100%;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    margin-right: auto;
    margin-left: auto;
    max-width: rem(600);
    @include mq(md){
        max-width: rem(750);
        padding-right: $padding-pc;
        padding-left: $padding-pc;
    }
}

.top-news__items {
    margin-top: rem(24);
    margin-inline: auto;
    display: flex;
    gap: rem(32);
    flex-direction: column;

    @include mq(md) {
        margin-top: rem(40);
        gap: rem(40);
}
}

.top-news__btn {
    margin-top: rem(40);

    @include mq(md) {
        margin-top: rem(80);
    }
}