@use "global" as *;

.top-worship__block {
    display: flex;
    flex-direction: column-reverse;
    margin-top: rem(24);
    gap: rem(40);

    @include mq(md) {
        display: grid;
        grid-template-columns: calc(420 / 1100* 100%) 1fr;
        align-items: end;
        margin-top: rem(40);
    }
}

.top-worship-info__description {
    font-size: rem(18);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $blue-black;
    line-height: calc(32 / 18);
}

.top-worship-time {
    margin-top: rem(24);
}

.top-worship-time__list {
    margin-top: rem(16);
}

.top-worship-time__item {
    font-size: rem(18);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $blue-black;
    line-height: calc(26 / 18);

    @include mq(md) {
        font-size: rem(20);
    }
}

.top-worship-time__item span {
    font-weight: $bold;
}

.top-worship-time__item:not(:first-child) {
    margin-top: rem(16);
}

.top-worship__btn {
    margin-top: rem(40);
}

.top-worship-info__image{
    aspect-ratio: 345 /231;
    overflow: hidden;
    object-fit: cover;
    border-top-left-radius: rem(90);
}

.top-worship-info__image img {
    filter: contrast(0.9);
    width: 100%;
    height: calc(100% + rem(50));
    
}